#{extends 'admin.html' /}
  <head>
    <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
    <link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
  <body>
    <!-- start: SLIDING BAR (SB) -->
  
    <!-- end: SLIDING BAR -->
     <div class="box">
               <div class="box-header with-border">
              <h3 class="box-title">Enregistrement d'une formation</h3> -  
                   <a href="@{list()}" >Retour à la liste</a> 
            
            </div>
            </div>
    
            <div class="row">
              <div class="col-sm-12">
                <!-- start: FORM WIZARD PANEL -->
                <div class="panel panel-white">
                <div class="panel-body">
 
#{form @formationSave() , class : 'form'}
#{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="id" value="${object?.id}" />
    #{/if}  
    <div class="row"> 
    <div class="col-lg-12">
         <div class="col-lg-4">
       <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Designation</label>
                 <input  type="text" class="form-control" name="object.libelle_formation" value="${object?.libelle_formation}">
             </div>
        
              </div>
             </div>
       </div>
        <div class="col-lg-4">
       <div class="form-group">   
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Diplôme</label>
                 <input  type="text" class="form-control" name="object.diplome" value="${object?.diplome}">
             </div>
        
              </div>
             </div>
       </div>
     <div class="col-lg-4">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Carte:</label>
                 <input type="text" class="form-control " name="object.carte" value="${object?.carte}">
             </div>
          
              </div>
             </div>
       
       </div>
    </div>       
    </div>
    <br/>
    <div class="row">
         <div class="col-lg-12">
                   <textarea class="form-control" rows="3" id="motif" placeholder="Description de la formation" name="object.description" value="${object?.description}"></textarea>     
                   <label class="control-label col-sm-2" ></label>
         </div>
    </div>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Ajouter
               </button>
               </div>
             </div>
           </div>
         </div>

#{/form}
</div>
</div>
</div>
</div>

  
 <section class="content">
   
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Liste des formations de ${formateur?.formateur_nom}</h3> 
                  
                    
                  <button   onclick="tableToExcel('testTable', 'Liste des status')" class="btn btn-box-tool" title="Exporter en excel"><i class="fa fa-print"></i></button>
                  <div class="box-tools">
                 
                </div><!-- /.box-header -->
                </div>
                <br>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover" id="testTable">
                    <tr>
                      <th> #{list.sortField sF : sF, sD : sD, field : 'id'} <a href="@{list(k, 'id', (sF == 'id' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.id'}</a> #{/list.sortField} </th>



            <th> #{list.sortField sF : sF, sD : sD, field : 'libelle_formation'} <a href="@{list(k, 'libelle_formation', (sF == 'libelle_formation' && sD == 'asc' ? 'desc' : 'asc'), 1)}">  formation </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'description'} <a href="@{list(k, 'description', (sF == 'description' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Description</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'formateur_nom'} <a href="@{list(k, 'formateur_nom', (sF == 'formateur_nom' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Formateur</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'carte'} <a href="@{list(k, 'carte', (sF == 'carte' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Carte</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'diplome'} <a href="@{list(k, 'diplome', (sF == 'diplome' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Diplôme</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'created'} <a href="@{list(k, 'created', (sF == 'created' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.created'}</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'updated'} <a href="@{list(k, 'updated', (sF == 'updated' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.updated'}</a> #{/list.sortField} </th>
                      
                   <th>Options</th>
                    </tr>
                    <tr>
                #{list items :objects, as:'_'}
        <tr>
            <td> ${_.id} </td>
            <td> ${_.libelle_formation} </td>
            <td> ${_.description} </td>
            <td> ${_.formateur_nom} </td>
            <td> ${_.carte} </td>
            <td> ${_.diplome} </td>
           
            <td> #{block.time time : _.created /} </td>
            <td> #{block.time time : _.updated /} </td>
    <td class ="center"> #{manager.object.formateurviewButton id : _.id /} </td>
        </tr>
        #{/list}
                    </tr>
                    
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
           <div class="box-footer clearfix">
               <p>
                   <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
                </p>
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
                 
        </section>


        
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      
      <!-- end: FOOTER -->
      <!-- start: SUBVIEW SAMPLE CONTENTS -->
      <!-- *** NEW NOTE *** -->
      
      <!-- *** READ NOTE *** -->
      <div id="readNote">
        <div class="e-slider owl-carousel owl-theme">
         <div class="item"></div>
        </div>
      </div>
  <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@{'public/wizard/plugins/respond.min.js'}"></script>
    <script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
    <script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
    <!--<![endif]-->
    <script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
    <script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
  
    <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
    <script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

    <script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
  <script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script> 
    <script src="@{'public/wizard/js/subview.js'}"></script>
    <script src="@{'public/wizard/js/subview-examples.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
    <script src="@{'public/wizard/js/form-wizard.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE JAVASCRIPTS  -->
    <script src="@{'public/wizard/js/main.js'}"></script>



    <!-- end: CORE JAVASCRIPTS  -->
         <script src="@{'public/dist/js/app.min.js'}"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        SVExamples.init();
        FormWizard.init();
      });
    </script>
    <script>
  $(function() {
    $( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
    
  });
  </script>
#{set 'moreScripts'}
    <script >
$( ".debut" ).datepicker({
     changeMonth: true,
     changeYear: true,
     dateFormat: 'dd-mm-yy'
  });
</script>
#{/set}

</body>