 #{extends 'Client.html' /}
#{set title:'Home' /}
#{set 'subTitle'}
    
#{/set}
<br/> 
<br/> 
<br/>   

#{manager.list.filterForm k : k}
    <input type="hidden" name="sF" value="${sF}" />
    <input type="hidden" name="sD" value="${sD}" />
#{/manager.list.filterForm}
<hr />   
<div class="row">
    <div class="span2">
        <p> 
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>

<hr />
<table class="table table-hover table-striped table-condensed" id="testTable">
    <thead>
        <tr>
            <th> #{list.sortField sF : sF, sD : sD, field : 'id'} <a href="@{list(k, 'id', (sF == 'id' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.id'}</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'libelle_formation'} <a href="@{list(k, 'libelle_formation', (sF == 'libelle_formation' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Formation </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'description'} <a href="@{list(k, 'description', (sF == 'description' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Description </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'diplome'} <a href="@{list(k, 'diplome', (sF == 'diplome' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Diplôme </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'carte'} <a href="@{list(k, 'carte', (sF == 'carte' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Carte </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'formateur_nom'} <a href="@{list(k, 'formateur_nom', (sF == 'formateur_nom' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Formateur </a> #{/list.sortField} </th>

            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>  
        #{list result?.objects}
        <tr>
            <td> ${_.id} </td>
            <td> ${_.libelle_formation} </td>
            <td> ${_.description} </td>
            <td> ${_.diplome} </td>
            <td> ${_.carte} </td>
            <td> ${_.formateur_nom} </td>
            <td class ="center"> #{manager.object.postuerformviewButton id : _.id /} </td>
        </tr>
        #{/list}
    </tbody>
</table>
<hr />
<div class="row">
    <div class="span2">
        <p>
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>
<hr />
#{set 'moreScripts'}
    #{block.pagination page : page, count : result?.count /}
#{/set}
