#{extends 'admin.html' /}
#{set title: 'Formaation' /}
#{set 'subTitle'}
    ${object.formateur_nom}  
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la formation</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouvelle formation</a>
             
            </div>
            <div class="box-body">
               Reference:   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Formateur :  ${object?.formateur_nom}
            </div>
            <div class="box-body">
               Diplôme :  ${object?.diplome}
            </div>
            <div class="box-body">
               Carte :  ${object?.carte}
            </div>
             <div class="box-body">
                Formation : ${object?.libelle_formation}
            </div>
            <div class="box-body">
                Localité :   ${object?.localite}
            </div>
            <div class="box-body">
                Adresse :   ${object?.adresse}
            </div>
             <div class="box-body">
               Date de mise à jour: ${object?.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
              #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
    </div>
</div>