 #{extends 'admin.html' /}
  <head>

    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
  <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
    <link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
  <body>
    <!-- start: SLIDING BAR (SB) -->
  
    <!-- end: SLIDING BAR -->
     <div class="box">
               <div class="box-header with-border">
              <h3 class="box-title">Detail de la demande</h3> -  
               <a href="@{_Agent_formations.list()}" >Retour à la liste</a>     
            
            </div>
          </div>
          
          <div class="row">  
   <div class="large-2 columns"> <p style="color : #FFF;"></p></div>
             
             <div class="large-8 columns">
            
         #{ifErrors}
         <div data-alert class="alert-box alert radius"> 
         <center>${errors[0]}</center>
         <a href="#" class="close">&times;</a>
         </div>
         #{/ifErrors}
         
                  </div>
         <div class="large-2 columns"><p style="color : #FFF;"></p> </div>
         </div>
         
    
          <div class="row">
            <div class="col-sm-12">
      <!-- start: FORM WIZARD PANEL -->
      <div class="panel panel-white">
      <div class="panel-body">
      
 #{form @validerDemande() , class : 'form'}         
       

#{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
#{/if}  
<!-- en cas d'erreur --> 
                    <div class="row" >
                         #{if flash.error}
                      <div class="alert alert-danger" role="alert" id="erreur">
                       <p style="text-align:center">  ${flash.error}</p>
                      </div>
                       #{/if}
                    </div>        
               <!-- fin -->

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}" disabled="true">
               </div>
         </div>
         </div> 
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom" value="${agent?.prenom}" disabled="true">
               </div>
         </div>
         </div>
    </div>
    </div>
      <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">S.Direction:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_sous_dir_courant}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Poste:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_poste}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Statut</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" disabled="true" >
               </div>
         </div>
         </div>
    </div>
    </div>
      <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
            <label class="control-label col-sm-2" for="du">Formation</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="du" value="${formation?.libelle_formation}" disabled="true">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="au">Carte</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="au" value="${formation?.carte}" disabled="true">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="duree">Diplôme</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="duree" disabled="true" value="${formation?.diplome}">
               </div>
                <label class="control-label col-sm-2" for="duree"></label>
         </div>
         </div>
    </div>
    </div>
    <div class="row"> 
    <div class="col-lg-12">
        <div class="col-lg-4">
       <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de debut</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${object?.date_debut?.format("dd/MM/yyyy")}">
             </div>
         
              </div>
             </div>
       </div>
     <div class="col-lg-4">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de fin:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="vDate" value="${object?.date_fin?.format("dd/MM/yyyy")}"
                 >
             </div>
        
              </div>
             </div>
       
       </div>
         <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Lieu de la formation</label>
                 <input  type="text" class="form-control " name="lieu_formation" value="${object?.lieu_formation}">
             </div>
        
              </div>
             </div>
         </div>
    </div> 
    </div>
    <br/>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Valider
               </button>
               </div>
             </div>
           </div>
         </div>
#{/form}

      </div>
      </div>
      </div>
      </div>
              

    
  
  <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@{'public/wizard/plugins/respond.min.js'}"></script>
    <script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
    <script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
    <!--<![endif]-->
    <script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
    <script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
  
    <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
    <script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

    <script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
  <script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script> 
    <script src="@{'public/wizard/js/subview.js'}"></script>
    <script src="@{'public/wizard/js/subview-examples.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
    <script src="@{'public/wizard/js/form-wizard.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE JAVASCRIPTS  -->
    <script src="@{'public/wizard/js/main.js'}"></script>



    <!-- end: CORE JAVASCRIPTS  -->
         <script src="@{'public/dist/js/app.min.js'}"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        SVExamples.init();
        FormWizard.init();
      });
    </script>
#{set 'moreScripts'}
<script>
  $(function() {
    $( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
    
  });
  </script>
  <script >
  setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 10000);
</script>

#{/set}
  </body>
 
 
    
 