
#{extends 'admin.html' /}
#{set title: 'Ressource' /}
#{set 'subTitle'}
    ${object.libelle_ressource}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la ressource</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouvelle ressource</a>
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Libelle :  ${object.libelle_ressource}
            </div>
             <div class="box-body">
               Description :     ${object.description}
            </div>
             <div class="box-body">
               Disponibilite :   ${object.disponibilite}
            </div>
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : ${object?.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
       		  #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>

<script>
jQuery(document).ready(function() {
  $('#agent').removeClass('active');
  $('#mission').addClass('active');
  $('#conge').removeClass('active');
  $('#continue').removeClass('active');
  $('#param').removeClass('active');
  $('#connect').removeClass('active'); 
});
</script>
