#{extends 'content.html' /}
#{set title: 'Contrat' /}

        <section class="content-header">
          <h1>
          #{if object}
			    Modification de :<small>${object?.libelle_csu}</small>
			#{/if}
			#{else}
			    Ins&eacute;rer
			   
			#{/else}
	      </h1>
         
	    #{manager.menu.actions/}
	   
        </section>

        <!-- Main content -->
        <section class="content">
        #{form @update(), class : 'form', role : 'form'}
		    #{if object}
		        <input type="hidden" name="object.id" value="${object?.id}" />
		    #{/if}
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Veuillez renseigner </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
              
                  <div class="box-body">
                    
                     <div class="row">
			        <div class="col-lg-8">
			            #{field 'object.libelle_csu'}
			                #{form.input field : field, value : object?.libelle_csu, required : true,  label : 'Nom'/}
			            #{/field}
			        </div>
			   		 </div>
			    <div class="row">
			      
			         <div class="col-lg-10">
			           <div class="row">
			                <div class="col-xs-5">
			                    #{field 'object.ville.id'}
							        #{form.select field : field, items : allvilles, valueProperty : 'id', labelProperty : 'libelle_ville' , required : false, value : object?.ville?.id ? object?.ville?.id : 0, label : 'Ville' /}
							    #{/field}
			                </div>
			                   <div class="col-xs-5">
			                    #{field 'object.arpc.id'}
							        #{form.select field : field, items : allarpcs, valueProperty : 'id', labelProperty : 'libelle_arpc' , required : false, value : object?.arpc?.id ? object?.arpc?.id : 0, label : 'Arpc' /}
							    #{/field}
			                </div>
			           </div>
			      	 </div>
			    </div>
				       <div class="col-lg-6">
				      	<button type="submit" class="btn btn-primary">Enregistrer</button>
                 	
                 	 </div>
                  </div>
				</div>
                  
               #{/form}
              </div><!-- /.box -->
			 </div>
       
        </section>
        <!-- /.content -->

#{if object?.id}
<!-- <div class="clearfix">
    <div class="pull-right">
        #{manager.object.deleteButton id : object.id /}
    </div>
</div> -->
#{/if}

#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>

<script>
jQuery(document).ready(function() {
  $('#carr').removeClass('active');
  $('#vac').removeClass('active');
  $('#fonct').addClass('active');
});
</script>

<script>
jQuery(document).ready(function() {
  $('#su').addClass('active'); 
});
</script>

<script>
    $(document).ready(function() {
        var now = new Date();
        $('#sDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('#eDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('.editor').wysiwyg();
        $('form').on('submit', function() {
            $('#content').val($('#editor').html());
        });
    });
</script>
#{/set}
