#{extends 'carriere.html' /}
#{set title: 'Nouvelle decoration' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;}
</style>
#{if object}
    #{set subTitle : object?.libelle_decoration /}
#{/if}
#{else}
    #{set 'subTitle'}
        Ins&eacute;rer
    #{/set}
#{/else}

#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}


#{form @update(), class : 'form', role : 'form'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
	
<div class="row">
         <div class="col-lg-12">
            #{manager.list.filterForm k : k}
              <input type="hidden" name="sF" value="${sF}" />
              <input type="hidden" name="sD" value="${sD}" />
            #{/manager.list.filterForm}
        </div>
</div>
 <fieldset>
 <legend>Informations sur l'agent</legend>
    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Classe:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Grade:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Echelon</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon">
               </div>
         </div>
         </div>
    </div>
    </div><br>
         <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">N&eacute;(e)le:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">A:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Poste:</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon">
               </div>
         </div>
         </div>
    </div>
    </div>
    </fieldset>
    <br><br>
    <fieldset>
 <legend>Informations  sur la decoration</legend>
   <div class="row">
    <div class="col-lg-12">
     	 <div class="col-xs-6">
             #{field 'object.decoration.id'}
			     #{form.select field : field, items : alldecorationss, valueProperty : 'id', labelProperty : 'libelle_decorations' , required : false, value : object?.Decoration?.id ? object?.Decoration?.id : 0, label : 'Decoration' /}
			 #{/field}
         </div>
        
         <div class="col-lg-6">
            #{field 'object.libelle_csu'}
                #{form.input field : field, value : object?.libelle_csu, required : true,  label : 'Lieu de la decoration'/}
            #{/field}
        </div>
    </div>
    </div>
    <br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-4" for="matricule">Le</label>
               <div class="col-xs-8">
                  <input type="text" class="form-control" id="typeConge">
               </div>
         </div>
         </div>
        
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Par</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="au">
               </div>
         </div>
         </div>
    </div>
    </div>
    <br>
     <div class="row">
   
         <div class="col-lg-12">
          <div class="form-group">
              <label class="control-label col-sm-2" for="matricule">Motif</label>
               <div class="col-xs-10">
                   <textarea class="form-control" rows="3" id="motif" placeholder="Motif"></textarea>      
               </div>
         </div>
    z
    </div>
    </div>
    
         </fieldset>
    
    #{form.saveButton /}
#{/form}

<hr />

#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
<script>
    $(document).ready(function() {
        var now = new Date();
        $('#sDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('#eDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('.editor').wysiwyg();
        $('form').on('submit', function() {
            $('#content').val($('#editor').html());
        });
    });
</script>
#{/set}
