#{extends 'Client.html' /}
#{set title:'Congé' /}
  <head>

    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
  <link rel="stylesheet"   href="@{'public/stylesheets/jquery-ui.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
    <link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
  <body>
    <!-- start: SLIDING BAR (SB) -->
  
    <!-- end: SLIDING BAR -->
     <div class="box">
               <div class="box-header with-border">
              <h3 class="box-title">Demande de conge</h3> -  
                   <a href="@{list()}" >Retour à la liste</a> 
            
            </div>
          </div>
          
          <div class="row">  
             <div class="large-2 columns"> <p style="color : #FFF;"></p></div>
             <div class="large-8 columns">
                 #{ifErrors}
                  <div data-alert class="alert-box alert radius"> 
                   <center>${errors[0]}</center>
                   <a href="#" class="close">&times;</a>
                 </div>
                #{/ifErrors}
            </div>
          <div class="large-2 columns"><p style="color : #FFF;"></p> </div>
         </div>
         
    
          <div class="row">
            <div class="col-sm-12">
      <!-- start: FORM WIZARD PANEL -->
          <div class="panel panel-white">
          <div class="panel-body">
      
          
        #{form @demandeCongeSave() , class : 'form'}
#{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
#{/if}  
<!-- en cas d'erreur --> 
                    <div class="row" >
                         #{if flash.error}
                      <div class="alert alert-danger" role="alert" id="erreur">
                            ${flash.error}
                      </div>
                       #{/if}
                    </div>        
               <!-- fin -->
               <!-- en cas d'erreur --> 
          <div class="row" >        
             <div  role="alert" id="erreur"></div>
          </div>        
               <!-- fin -->
    <div class="row"> 
    <div class="col-lg-12">
          <div class="col-lg-3">
       <div class="col-sm-12">
             #{field 'congeId'}
           #{form.select field : field, items : allconges, valueProperty :     'id', labelProperty : 'libelle_conge' , required : false, value : agentDecore?.decoration?.id ? agentDecore?.decoration?.id : 0, label : 'Type de congés' /}
          #{/field}
       </div>
         </div>
                 <div class="col-lg-2">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Jours Maxi</label>
              <input type="text" class="form-control " name="nombreJours" id="nbreJrs" disabled="true" value="${object?.nombreJours}">
             </div>
        
              </div>
             </div>
       
       </div>
        <div class="col-lg-2">
       <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de debut</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${object?.date_debut?.format("dd/MM/yyyy")}" id="dateD">
             </div>
        
              </div>
             </div>
       </div>
     <div class="col-lg-2">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de fin:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="vDate" value="${object?.date_fin?.format("dd/MM/yyyy")}"
                  id="dateF">
             </div>
        
              </div>
             </div>
       
       </div>
            <div class="col-lg-2">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Nombre de jours</label>
              <input type="text" class="form-control " name="nombreJours" id="nbreJrs" disabled="true" value="${object?.nombreJours}">
             </div>
        
              </div>
             </div>
       
       </div>
    </div> 
    </div>
    <br/>
    <div class="row">
         <div class="col-lg-12">
                   <textarea class="form-control" rows="3" id="motif" placeholder="Motif" name="motif" value="${object?.motif}"></textarea>     
                   <label class="control-label col-sm-2" ></label>
         </div>
    </div>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Creer
               </button>
               </div>
             </div>
           </div>
         </div>
         <input type="hidden" class="form-control " name="nombreJours" id="nbreJrs" disabled="true" value="${object?.nombreJours}">
#{/form}
      </div>
      </div>
      </div>
      </div>
              

    
  
  <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@{'public/wizard/plugins/respond.min.js'}"></script>
    <script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
    <script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
    <![endif]-->
    
    <script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script> 
    
    <!-- end: CORE JAVASCRIPTS  -->
      
    <script>
      jQuery(document).ready(function() {

        Main.init();
        SVExamples.init();
        FormWizard.init();
      });
    </script>
#{set 'moreScripts'}
<script>
  $(function() {
    $( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
    
  });
  </script>
  <script >
  setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 10000);
</script>

<script>
jQuery(document).ready(function() {
  $('#pro').removeClass('active');
  $('#voyag').removeClass('active');
  $('#ledge').removeClass('active');
  $('#gvac').addClass('active');
  $('#jose').removeClass('active'); 
});
</script>

<script>
jQuery(document).ready(function() {
  $('#nioud').addClass('active'); 
});
</script>

 <script>
$(document).ready(function(){
   $('#dateD, #dateF').change(function(){
      var d1 = $('#dateD').datepicker('getDate');
      var d2 = $('#dateF').datepicker('getDate');
      var diff = 0;
      if (d1 && d2){
          if( d1<d2) {
      
            diff = Math.floor((d2.getTime() - d1.getTime()) / 86400000); // ms per day
            $('#nbreJrs').val(diff);

      }else{
        $( '#erreur' ).html('VERIFIER LES DATES DE DEBUT ET DE FIN DU CONGE');
        $('#erreur').addClass("alert alert-danger")
        $( '#erreur' ).show();
        setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 5000);
      }
    }
      $('#nbreJrs').val(diff);
});
});
</script>

#{/set}
  </body>

     
  