#{extends 'admin.html' /}
#{set title: 'Pièce' /}
#{set 'subTitle'}
    ${object.libelle_piece}
#{/set} 

<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Détail de la pièce</h3> 
                
  
  </div>
  </div>
        <div class="box">
          
            <div class="box-body">
            
            <div class="col-lg-6" >
	<img src="@{agentPiece(object.id)}" class="dimfoto">
	</div >
	   <div class="col-lg-6" >
              <table class="table table-hover table-condensed table-striped">
            <tbody>
                <tr>
                    <td>
                        &{'object.id'}
                    </td>
                    <td>
                        ${object.id}
                    </td>
                </tr>

                <tr>
                    <td>
                        Pièce
                    </td>
                    <td>
                        ${object?.libelle_piece}
                    </td>
                </tr>

                <tr>
                    <td>
                        Numero
                    </td>
                    <td>
                        ${object?.numero_piece}
                    </td>
                </tr>
                <tr>
                    <td>
                        Délivrée le
                    </td>
                    <td>
                        ${object?.date_piece}
                    </td>
                </tr>
               
                
                 <tr>
                    <td>
                        &{'object.created'}
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        &{'object.updated'}
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
               
            </tbody>
        </table> 
        </div>
            </div><!-- /.box-body -->
       <div class="box-footer">
           #{manager.object.retourButton id : id_demande /}
            </div><!-- /.box-footer-->
          </div>

        </section>
        
   
       
    </div>
</div>