#{extends 'admin.html' /}
#{set title: 'Pages d\'informations' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;}
</style>
#{if object}
    #{set subTitle : object?.title /}
#{/if}
#{else}
    #{set 'subTitle'}
        Ins&eacute;rer
    #{/set}
#{/else}

#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}


#{form @update(), class : 'form', role : 'form'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="row">
        <div class="col-lg-4">
    #{field 'object.title'}
        #{form.input field : field, value : object?.title, required : true,  label : 'Titre'/}
    #{/field}
    #{field 'object.position'}
        #{form.custom field : field, label : 'Ordre' }
            <div class="row">
                <div class="col-xs-4">
                    <input id="${field.id}" required class="form-control" name="${field.name}" value="${object?.position ? object?.position : (models.Page.findLastPosition() + 1)}" type="number" min="1" step="1" />
                </div>
           </div>
        #{/form.custom}
    #{/field}
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    #{field 'object.content' }
        #{form.custom field : field,  label : 'Contenu'}
        	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5"><font size="5">Huge</font></a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1"><font size="1">Small</font></a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>

                    <div id="editor" class="editor">${object?.content?.raw()}</div>

                <br />
                <input type="hidden" name="object.content" id="content"  value="" />
        #{/form.custom}
    #{/field}
    </div>
    </div>

    #{form.saveButton /}
#{/form}

</div>
</div>
<hr />
#{if object?.id}
<div class="clearfix">
    <div class="pull-right">
        #{manager.object.deleteButton id : object.id /}
    </div>
</div>
#{/if}

#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
<script>
    $(document).ready(function() {
        $('.editor').wysiwyg();
        $('form').on('submit', function() {
            $('#content').val($('#editor').html());
        });
    });
</script>
#{/set}
