#{extends 'Client.html' /}
#{set title : 'Mes missions' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap/css/bootstrap.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/font-awesome/css/font-awesome.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/iCheck/skins/all.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/perfect-scrollbar/src/perfect-scrollbar.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/animate.css/animate.min.css'}">
		<!-- end: MAIN CSS -->
		
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Details mission</h3> 
             
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
     <table class="table ">
            <tbody>
                <tr>
                    <td>
                        Numéro
                    </td>
                    <td>  
                        ${object?.id}
                    </td>
                </tr>
 
                <tr>
                    <td>
                        Nom
                    </td>
                    <td>
                        ${object?.libelle_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Lieu
                    </td>
                    <td>
                        ${object?.lieu_mission}
                    </td>
                </tr>
                  <tr>
                    <td>
                      Objet
                    </td>
                    <td>
                        ${object?.objet_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de depart
                    </td>
                    <td>
                        ${object?.date_de_depart}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de retour
                    </td>
                    <td>
                        ${object?.date_de_retour}
                    </td>
                </tr>
                <tr>
                    <td>
                    Responsable
                    </td>
                    <td>
                        ${agent?.nom}  ${agent?.prenom} 
                    </td>
                </tr>
                <tr>
                    <td>
                    Terminée 
                    </td>
                    <td>
                        ${object.status} 
                    </td>
                </tr>
                
                 <tr>
                    <td>
                      Enregistrée le
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        Modifiée le
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
              
            </tbody>
        </table>
          </div>
</div>
</div>
</div>
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->

		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>
			<script src="@{'public/wizard/datepicker-fr.js'}"></script>
		<!-- end: CORE JAVASCRIPTS  -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}

#{/set}
	</body>
