#{extends 'admin.html' /}
#{set title: 'Ajout d\'un agent' /} 

        <section class="content-header">
          <h1>
          #{if object}
			    Modification de :<small>${ressource?.libelle_mission}</small>
			#{/if}
			#{else}
			  Affectation d'agent à la mission : ${mission?.libelle_mission}
			   
			#{/else}
	      </h1>
         
	   
        </section>

        <!-- Main content -->
        <section class="content">
      
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Informations sur l agent </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
              
 <div class="box-body">

    <div class="row">
    #{form @update(), class : 'form', role : 'form',id :"form"}
      #{if object}
          <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Numero:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value="${agent?.id}" disabled="true" >
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Matricule</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value="${agent?.matricule}" disabled="true">
               </div>
         </div>
         </div>
         
    </div>
    </div><br>
     <div class="row">
      <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Nom</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value="${agent?.nom}" disabled="true" >
                 
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Prenoms</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value="${agent?.prenom}" disabled="true">
               </div>
         </div>
         </div>        
        
    </div>
    </div><br>
       <div class="row">
      <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Classe</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value="${agent?.libelle_classe}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" >Echelon</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value="${agent?.libelle_echelon}" disabled="true">
               </div>
         </div>
         </div>        
        
    </div>
    </div>
    #{if chef} 
<div class="row">
  <div class="col-lg-12">
		<div class="form-group">
		       <br/>
			   <label class="control-label col-sm-2" for="prenom">Chef de mission </label>
		       <br/>
		          <div class="col-sm-4">
		          <label class="radio-inline">
		 		  <input type="radio" class="grey" value="${agent?.id}" name="chefmission" #{if chefmission=='${agent?.id}'}checked="checked"#{/if} >
		                  Oui
		            </label>
		          </div>
			</div>
</div>
  </div>
  #{/if}
    <input type="hidden" class="form-control" value="${mission}" name="object.mission">
      <input type="hidden" class="form-control" value="${agent?.id}" name="agentid">
    <input type="hidden" class="form-control" value="${mission?.id}" name="id">
     <input type="hidden" class="form-control" value="${mission?.libelle_mission}" name="libelle_mission">
     <input type="hidden" class="form-control" value="${mission?.lieu_mission}" name="lieu_mission">
     <input type="hidden" class="form-control" value="${mission?.objet_mission}" name="objet_mission">
     <input type="hidden" class="form-control" value="${mission?.date_de_depart}" name="depart">
     <input type="hidden" class="form-control" value="${mission?.date_de_retour}" name="retour">

           	 <div class ="row">
			    <div class="col-lg-6">
				       <button type="submit" class="btn btn-primary">Enregistrer</button>
                 	</div>
                </div>
  #{/form}

                  </div>
  
              </div><!-- /.box -->
			 </div>
          </div>   <!-- /.row -->
        </section>