#{extends 'admin.html' /}
#{set title: 'Planification' /}
<section class="content-header">
          <h1>
          #{if object}
			    Planification de la mission  :<small>${object?.libelle_mission}</small>
			#{/if}
			#{else}
			
			   
			#{/else}
	      </h1>
        </section>


        <!-- Main content -->
<section class="content">

  <div class="row">
    <!-- left column -->
<div class="col-md-12">
  <!-- general form elements -->
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Informations sur la mission </h3>-
     <a href="@{_Agent_missions.ressource()}" >Ajouter une ressource</a> -
    <a href="@{_Agent_missions.agent()}" > Ajouter un agent</a> 

  </div><!-- /.box-header -->
<!-- form start -->
  <br>                               <!-- en cas d'erreur --> 
<div class="row" >
     #{if flash.success}
	<div class="alert alert-success" role="alert" id="succes">
   <p style="text-align:center">    ${flash.success}</p>
    </div>
     #{/if}
  </div>
<div class="row" >
       #{if flash.error}
  <div class="alert alert-error" role="alert" id="erreur">
     <p style="text-align:center">     ${flash.error}</p>
  </div>
   #{/if}
</div>           
               <!-- fin -->
<div class="box-body">

    <div class="row">
    #{form @update(), class : 'form', role : 'form',id :"form"}
      #{if object}
          <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="col-lg-12">

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Numero:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object.id}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Titre:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.libelle_mission}" disabled="true">
               </div>
         </div>
         </div>
         
    </div>
    </div><br>
     <div class="row">
      <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Du:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object. date_de_depart?.format("dd/MM/yyyy")}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" >Au:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.date_de_retour?.format("dd/MM/yyyy")}" disabled="true">
               </div>
         </div>
         </div>   
              
        
    </div>
    </div><br>
         <div class="row">
      <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Frais</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object.frais}" disabled="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" >Impuation</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.imputation}" disabled="true">
               </div>
         </div>
         </div>   
              
        
    </div>
    </div
    ><br/>
     <div class="row">
      <div class="col-lg-12">
        #{field 'object.objet_mission'}
           #{form.textarea field : field,value : object?.objet_mission,label : 'Description',disabled : true/}
      #{/field}
      </div>
    </div>
         <div class="row">
         <div class="box-header with-border">
    <h3 class="box-title">Informations sur la responsable</h3>
  
  </div>
        <div class="col-lg-12">
           <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-3" >Nom</label>
                 <div class="col-sm-9">
                    <input type="text" class="form-control" value=" ${agent?.nom}" disabled="true">
                 </div>
           </div>
           </div>
          
           <div class="col-lg-6">
           <div class="form-group">
                <label class="control-label col-sm-2" >Prenoms</label>
                 <div class="col-sm-10">
                    <input type="text" class="form-control" value=" ${agent?.prenom}" disabled="true">
                 </div>
           </div>
           </div>   
       </div>
    </div>
    <br/>
    <div class="row">
         <div class="col-lg-12">
           <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-3" >Classe</label>
                 <div class="col-sm-9">
                    <input type="text" class="form-control"  value=" ${agent?.libelle_classe}" disabled="true">
                 </div>
           </div>
           </div>
           <div class="col-lg-6">
           <div class="form-group">
                <label class="control-label col-sm-2" >Poste</label>
                 <div class="col-sm-10">
                    <input type="text" class="form-control" value=" ${agent?.libelle_poste}" disabled="true">
                 </div>
           </div>
           </div>   
       </div>
    </div>
    </div>
    <br/>


</div>
</div>
                  
                 
   </div>
  #{/form}
              </div><!-- /.box -->
</div>

</section>

<script >
 setTimeout(function(){ 
                $( '#succes' ).html(''); 
                $( '#suces' ).hide();
            }, 5000);
</script>

<script >
 setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 5000);
</script>

