<div class="dropdown">
    
    <button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
      <i class="fa fa-cog"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-light pull-right" role="menu">
    <li>
        <a href="@{Application.cert_de_prise_svce(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
            <i class="fa fa-edit"></i> Certificat de prise de service
        </a>
      </li>
      <li>
        <a href="@{Application.attest_de_stage(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
            <i class="fa fa-edit"></i> stage
        </a>
      </li>
      <li>
        <a href="@{Application.autorisation(_id)}" class="panel-collapse collapses" title="&{'object.edit'}"> 
            <i class="fa fa-edit"></i> stage à l'etranger
        </a>
      </li> 
      <li>
        <a class="panel-collapse collapses" href="@{Application.autoriston_absence(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>Autorisation d'absence</span> </a>
      </li>
       <li>
        <a class="panel-collapse collapses" href="@{Application.att_fin_stage(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>fin de stage</span> </a>
      </li>
      
    </ul>
</div>


