<div class="dropdown">
		
		<button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
			<i class="fa fa-cog"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-light pull-right" role="menu">
		<li>
				<a href="@{_Agent_missions.view(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
				    <i class="fa fa-edit"></i> Detail
				</a>
				<a href="@{Missions.missionUpdate(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
				    <i class="fa fa-edit"></i> Statuer
				</a>
			</li>
		</ul>
</div>


