#{extends 'backendpage.html' /}
#{set title:'Dashbord' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;}
     
</style>
  <div class="container" style ="top : 15%" >

         <div class="container">
            <div class="col-md-12">  

                <div class="row">  
                   <div class="col-xs-12 col-sm-6 col-md-3 text all">
                           <a href="@{Application.menuConge()}">   <div class="thumbnail boxfirst">
                                <ul class="box">
                            <li> <i class="fa fa-calendar fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">CONGES</h3>
                                <p style ="text-align : center; color : #fff">Gestion des congés</p>
                               
                              </div>
                            </div></a>
                          </div>  

 
 
                          <div class="col-xs-12 col-sm-6 col-md-3 txt all">
                            <a href="@{Application.carriere()}"> <div class="thumbnail boxsecond">
                             <ul class="box">
                            <li> <i class="fa fa-male fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">CARRIERES</h3>
                                <p style ="text-align : center; color : #fff">Gestion des carrières</p>
                               
                              </div>
                            </div></a>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 tet all">
                            <a href="@{Application.formateurs()}"> <div class="thumbnail boxthird">
                              <ul class="box">
                            <li> <i class="fa fa-pencil fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">FORMATIONS</h3>
                                <p style ="text-align : center; color : #fff">Gestion des formations</p>
                               
                              </div>
                            </div></a>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 tt all">
                            <a href=""> <div class="thumbnail boxfourth">
                              <ul class="box">
                            <li> <i class="fa fa-cogs fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">PARAMETRES GENERAUX </h3>
                                <p></p>
                               
                              </div>
                            </div></a>
                          </div>                        
                 </div>

                 <div class="row"> 
                      
                          <div class="col-xs-12 col-sm-6 col-md-3 tet al">
                            <a href=""> <div class="thumbnail boxthird">
                              <ul class="box">
                            <li> <i class="fa fa-clipboard fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">ATTESTATIONS</h3>
                                <p style ="text-align : center; color : #fff">Gestion des attestations</p>
                               
                              </div>
                            </div></a>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 tt al">
                            <a href="@{Application.mission()}"> <div class="thumbnail boxfourth">
                              <ul class="box">
                            <li> <i class="fa fa-automobile fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">MISSIONS</h3>
                                <p style ="text-align : center; color : #fff">Gestion des missions</p>
                               
                              </div>
                            </div></a>
                          </div>
                           <div class="col-xs-12 col-sm-6 col-md-3 text al">
                              <a href="">  <div class="thumbnail boxfirst">
                                <ul class="box">
                            <li> <i class="fa fa-signal fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">STATISTIQUES</h3>
                                <p style ="text-align : center; color : #fff">Gestion des statistiques</p>
                               
                              </div>
                            </div></a>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 txt al">
                            <a href=""> <div class="thumbnail boxsecond">
                             <ul class="box">
                            <li> <i class="fa fa-user fa-4x"></i></li>
                              </ul>
                              <div class="caption">
                                <h3 style ="color : #fff">MON PROFIL</h3>
                                <p style ="text-align : center; color : #fff">Voir son profil</p>
                              </div>
                            </div></a>
                          </div>
                 </div>
		   </div>    
        </div>    
    </div>
   
#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>

#{/set}
