
#{extends 'admin.html' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
		
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Attribution de droit</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
			
			#{form @agentdroitSave(), role :'form', id :"form"}
    #{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}" name="agent_matri" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}" name="agent_nom" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom" value="${agent?.prenom}" name="agent_prenom" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Classe:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_classe}" name="agent_classe" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Grade:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_grade}" name="agent_grade" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Echelon</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon" value="${agent?.libelle_echelon}" name="agent_echelon" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
         <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">N&eacute;(e)le:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" name="agent_dte_naiss"  value="${nDate}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">A:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="lieuN" name="agent_lieuN" value="${agent?.lieu_naissance}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Poste:</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon" name="agent_poste" value="${agent?.libelle_poste}" disabled >
               </div>
         </div>
         </div>
    </div>
    </div>
    
    <br><br>
    <fieldset>
 <legend>Definition des droits</legend>
<div class="row">
  <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-4" for="matricule">Login</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="classe" name="login"  value="${object?.login}" >
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-4" for="nom">Mot de passe:</label>
               <div class="col-sm-8">
                  <input type="password" class="form-control" id="lieuN" name="password" value="${object?.mot_passe}" >
               </div>
         </div>
         </div>

    </div>
</div>
   <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
       <label class="control-label col-sm-2" for="prenom">Type utilisateur </label>
         <br/>
            <div class="col-sm-3">
            <label class="radio-inline">
     <input type="radio" class="grey" value="1" name="type_cpte" #{if affectation=='Promotion'}checked="checked"#{/if} id="promotion" >
                    Utilisateur
              </label>
          
            </div>

            <div class="col-sm-3">
              <label class="radio-inline">
               <input type="radio" class="grey" value="2" name="type_cpte" #{if affectation=='Mutaion'}checked="checked"#{/if}  id="mutation">
                  Admin
              </label >
            </div>
    </div>

    </div>
    </div>
</fieldset>
         <br/>
                  <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Valider
               </button>
               </div>
             </div>
           </div>
         </div>

  <input type="hidden" class="form-control" id="matricule" value="${agent?.matricule}" name="agent_matri" >
  <input type="hidden" class="form-control" id="nom" value="${agent?.nom}" name="agent_nom"> 
  <input type="hidden" class="form-control" id="prenom" value="${agent?.prenom}" name="agent_prenom" > 
    
#{/form}
			</div>
			</div>
   
</div>
</div>
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>
			<script src="@{'public/wizard/datepicker-fr.js'}"></script>
		<!-- end: CORE JAVASCRIPTS  -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}

#{/set}
	</body>

