#{extends 'main.html' /}
<style>
     #bo {background : red}
</style>
<body class="bo">
<div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Mot de passe Oublié</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Entrer votre Adresse E-mail afin de recevoir vos parametres de connexion</p>
             <!-- en cas d'erreur -->
                    
                        <div class="row">
                         #{if flash.error}
                       <div class="alert alert-danger" role="alert">
                            ${flash.error}
          </div>
</div>
                     
 
                       #{/if}
               <!-- fin -->
      #{form @Comptes.passwordForget(), class : 'form', role : 'form'}
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" name="email1">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder=" confirmer Email" name="email2" >
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <a href="@{Application.login()}">Retour</a><br>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Envoyer</button>
            </div><!-- /.col -->
          </div>
      #{/form}
 
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
    <script>
          setTimeout(function(){ 
                   $( '#erreur' ).html(''); 
                   $( '#erreur' ).hide();
            }, 5000);
    </script>

    </body>