<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@{agent()}" class="btn btn-default" title="&{'object.list'}"><i class="icon-list"> </i>Autre agent</a>
       
    </div>
    
  
    #{doBody /}
</div>