<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@{Missions.agent()}" class="btn btn-default" title="&{'object.list'}"><i class="icon-list"> </i> Nouvelle mission </a>
        <a href="@{_Agent_missions.listmission()}" class="btn btn-default" title="&{'object.add'}"><i class="icon-plus"> </i> Retour a la liste</a>
    </div>

</div>