                    <div class="panel-body" id="exportTable" style="display:none">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="list-group border-bottom">
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'json',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/json.png' width="24"/> JSON</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='http://demos.w3lessons.info/assets/images/icons/json.png' width="24"/> JSON (ignoreColumn)</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'json',escape:'true'});"><img src='http://demos.w3lessons.info/assets/images/icons/json.png' width="24"/> JSON (with Escape)</a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="list-group border-bottom">
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'xml',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/xml.png' width="24"/> XML</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'sql'});"><img src='http://demos.w3lessons.info/assets/images/icons/sql.png' width="24"/> SQL</a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="list-group border-bottom">
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'csv',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/csv.png' width="24"/> CSV</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'txt',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/txt.png' width="24"/> TXT</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="list-group border-bottom">
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'excel',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/xls.png' width="24"/> XLS</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'doc',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/word.png' width="24"/> Word</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'powerpoint',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/ppt.png' width="24"/> PowerPoint</a>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="list-group border-bottom">
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'png',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/png.png' width="24"/> PNG</a>
                                                <a href="#" class="list-group-item" onClick ="$('#customers').tableExport({type:'pdf',escape:'false'});"><img src='http://demos.w3lessons.info/assets/images/icons/pdf.png' width="24"/> PDF</a>
                                            </div>
                                        </div>
                                    </div>                               
                                </div>

                     <table id="customers" class="table table-striped">
                                        <thead>     
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Date de naissance</th>
                                                <th>Matricule</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         <tr>
                                            #{list result?.objects}
                                          <tr>
                                            <td> ${_.id} </td>
                                            <td> ${_.nom} </td>
                                            <td> ${_.prenom} </td>
                                            <td> #{block.time time : _.created /} </td>
                                            <td> #{block.time time : _.updated /} </td>
                                            <td class ="center"> #{manager.agent.attestation id : _.id /} </td>
                                          </tr>
                                            #{/list}
                                        </tr>
                                        </tbody>
                                    </table>                 
                 
  
