#{extends 'backend.html' /}
    <head>
        <meta charset="utf-8">
        <title>${get('title').raw()} ${get('subTitle') ? ' - ' + get('subTitle').raw() : '' } | ONPC</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="@{'public/img/logo.png'}">
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- MetisMenu CSS -->
        <link href="@{'public/assets/css/plugins/metisMenu/metisMenu.min.css'}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="@{'public/assets/css/sb-admin-2.css'}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="@{'public/assets/css/plugins/morris.css'}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="@{'public/assets/font-awesome-4.1.0/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
        <link href="@{'public/stylesheets/select2.css'}" rel="stylesheet">

        <link href="@{'public/stylesheets/bootstrap-datetimepicker.min.css'}" rel="stylesheet" >


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<link href="@{'public/assets/css/style.css'}" rel="stylesheet" />
		
		
			<!-- start: MAIN CSS -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@{'public/assets/plugins/bootstrap/css/bootstrap.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/font-awesome/css/font-awesome.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/iCheck/skins/all.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/animate.css/animate.min.css'}">
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
		<link rel="stylesheet" href="@{'public/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/owl-carousel/owl-carousel/owl.theme.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/owl-carousel/owl-carousel/owl.transitions.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/summernote/dist/summernote.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/toastr/toastr.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/bootstrap-select/bootstrap-select.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/DataTables/media/css/DT_bootstrap.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'}">
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link rel="stylesheet" href="@{'public/assets/plugins/weather-icons/css/weather-icons.min.css'}">
		<link rel="stylesheet" href="@{'public/assets/plugins/nvd3/nv.d3.min.css'}">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="@{'public/assets/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/assets/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/assets/css/plugins.css'}">
		
		<link rel="stylesheet" href="@{'public/assets/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
    </head>

    <body>

        <div id="wrapper">
           
           <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                       MENU
                    </a>
                </div>
        
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                         <li>
                         	<a href="javascript:void(0)"><i class="fa fa-cogs"></i> <span class="title"> Gestion des recrutements </span><i class="icon-arrow"></i> </a>
								<ul class="sub-menu">
									<li>
										<a href="@{Agents.enregistrement()}">
											<span class="title"> Enregistrement d'un agent  </span>
										</a>
									</li>

									<li>
										<a href="#">
											<span class="title"> Affectation Agent</span>
										</a>
									</li>
											
															
								</ul>
							</li>
								
                            
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
          

            <div id="page-wrapper">
              
               <div class="col-lg-12">
                        <h1 class="page-header"> ${messages.get(get('title')).raw()}
                        #{if get('subTitle')} <small> &raquo; ${get('subTitle').raw()} </small> #{/if}
                        <div class="pull-right">
                            #{if get('actionMenu')}
                                #{get 'actionMenu' /}
                            #{/if}
                        </div>
                        </h1>

                    </div>
                #{doLayout /}

             
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- jQuery Version 1.11.0 -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="@{'public/javascripts/bootstrap.min.js'}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="@{'public/assets/js/plugins/metisMenu/metisMenu.min.js'}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="@{'public/assets/js/plugins/morris/raphael.min.js'}"></script>
        <script src="@{'public/assets/js/plugins/morris/morris.min.js'}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="@{'public/assets/js/sb-admin-2.js'}"></script>
        <script src="@{'public/javascripts/jquery.simplePagination.js'}"></script>
        <script src="@{'public/javascripts/bootstrap-input-mask.min.js'}"></script>
        <script src="@{'public/javascripts/select2.min.js'}"></script>
        <script src="@{'public/javascripts/select2_locale_fr.js'}"></script>
        <script src="@{'public/javascripts/bootstrap-datetimepicker.min.js'}"></script>
        <script src="@{'public/javascripts/bootstrap-datetimepicker.fr.js'}"></script>
        
         <script src="@{'public/assets/plugins/jQuery/jquery-2.1.1.min.js'}"></script>	
		<script src="@{'public/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js'}"></script>
		<script src="@{'public/assets/plugins/bootbox/bootbox.min.js'}"></script>		
		<script src="@{'public/assets/plugins/jquery.appear/jquery.appear.js'}"></script>
		
	<script src="@{'public/assets/js/main.js'}"></script>
        #{script 'jquery.timeago.js' /}
        
        <script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				Index.init();
			});
		</script>

        <script>
            jQuery(document).ready(function() {
              $('#agent').addClass('active');
              $('#mission').removeClass('active');
              $('#conge').removeClass('active');
              $('#continue').removeClass('active');
              $('#param').removeClass('active');
              $('#connect').removeClass('active'); 
            });
        </script>
       
        <script>
            $(document).ready(function() {
                $('.timeago').timeago();
                $('form').on('submit', function() {
                    $(this).find('.btn-primary').button('loading');
                });
                $('.btn-danger').on('click', function() {
                    $(this).button('loading');
                });

            });
        </script>
        #{get 'moreScripts' /}
    </body>

</html>
