#{extends 'backend.html' /}
#{set title: 'Flash' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;}
</style>
#{if object}
    #{set subTitle : object?.title /}
#{/if}
#{else}
    #{set 'subTitle'}
        Ins&eacute;rer
    #{/set}
#{/else}

#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}


#{form @update(), class : 'form', role : 'form'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="row">
        <div class="col-lg-4">
            #{field 'object.title'}
                #{form.input field : field, value : object?.title, required : true,  label : 'Titre'/}
            #{/field}
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    #{field 'object.content' }
         #{form.textarea field : field, value : object?.content, required : false,  label : 'Message'/}
    #{/field}
    </div>
    </div>

    #{form.saveButton /}
#{/form}

</div>
</div>
<hr />
#{if object?.id}
<div class="clearfix">
    <div class="pull-right">
        #{manager.object.deleteButton id : object.id /}
    </div>
</div>
#{/if}

#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
<script>
    $(document).ready(function() {
        $('.editor').wysiwyg();
        $('form').on('submit', function() {
            $('#content').val($('#editor').html());
        });
    });
</script>
#{/set}
