\#{extends 'backend.html' /}
#{set title : 'Flash' /}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
#{set 'subTitle'}
    Liste
#{/set}
#{manager.list.filterForm k : k}
    <input type="hidden" name="sF" value="${sF}" />
    <input type="hidden" name="sD" value="${sD}" />
#{/manager.list.filterForm}
<hr />
<div class="row">
    <div class="span2">
        <p>
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>
<hr />
<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th> #{list.sortField sF : sF, sD : sD, field : 'id'} <a href="@{list(k, 'id', (sF == 'id' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.id'}</a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'title'} <a href="@{list(k, 'title', (sF == 'title' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Titre </a> #{/list.sortField} </th>
             <th> #{list.sortField sF : sF, sD : sD, field : 'content'} <a href="@{list(k, 'content', (sF == 'content' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Message </a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'created'} <a href="@{list(k, 'created', (sF == 'created' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.created'}</a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'updated'} <a href="@{list(k, 'updated', (sF == 'updated' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.updated'}</a> #{/list.sortField} </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        #{list result?.objects}
        <tr>
            <td> ${_.id} </td>
            <td> ${_.title} </td>
            <td> ${_.content} </td>
            <td> #{block.time time : _.created /} </td>
            <td> #{block.time time : _.updated /} </td>
            <td> #{manager.object.viewButton id : _.id /} </td>
        </tr>
        #{/list}
    </tbody>
</table>
<hr />
<div class="row">
    <div class="span2">
        <p>
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>
<hr />
#{set 'moreScripts'}
    #{block.pagination page : page, count : result?.count /}
#{/set}
