<div class="dropdown">
    
    <button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
      <i class="fa fa-cog"></i>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                 
<li>
        <a class="panel-collapse collapses" href="@{Application.cert_de_cessation_de_svce(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>Certificat de cessation de service</span> </a>
      </li>
      <li>
        <a class="panel-collapse collapses" href="@{Application.cert_de_reprise_svce(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>Certificat de reprise de service</span> </a>
      </li>
    </ul>
</div>
