<div class="dropdown">
		
		<button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
			<i class="fa fa-cog"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-light pull-right" role="menu">
			<li>
				<a class="panel-collapse collapses" href="@{demande_carte(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>demander la carte</span> </a>
			</li>
			<li>
				<a href="@{demande_diplome(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
				    <i class="fa fa-edit"></i> demander le diplôme
				</a>
			</li>
			
		</ul>
</div>


