<div class="dropdown">
		
		<button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
			<i class="fa fa-cog"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-light pull-right" role="menu">
			<li>
				<a class="panel-collapse collapses" href="@{_Agent_formations.agent_formation_save(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>postuler</span> </a> 
			</li>
		</ul>
</div>



