
#{extends 'admin.html' /}
	<head>
	  <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Enregistrement d'un depart</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
            </div>
		
						<div class="row">
							<div class="col-sm-12">
								<!-- start: FORM WIZARD PANEL -->
								<div class="panel panel-white">
								<div class="panel-body">
								#{form @agentstatusSave(), class : 'form', role : 'form'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
        <input type="hidden" name="agent.id" value="${agent?.id}" />
    #{/if}

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}" name="agent_matri" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}" name="agent_name" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="prenom" value="${agent?.prenom}" name="agent_prenom" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Classe:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_classe}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Grade:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_grade}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Echelon</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="echelon" value="${agent?.libelle_echelon}" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
         <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">N&eacute;(e)le:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe"  value="${agent?.date_naissance?.format("dd/MM/yyyy")}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">A:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.lieu_naissance}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Poste:</label>
               <div class="col-sm-10">
                  <input type="texte" class="form-control" id="echelon" value="${agent?.libelle_poste}" disabled>
               </div>
         </div>
         </div>
    </div>
    </div>
 
    <br><br>
    <fieldset>
 <legend>Informations  sur le Status</legend>
   <div class="row">
    <div class="col-lg-12">
     	 <div class="col-lg-6">
             #{field 'statuId'}
			     #{form.select field : field, items : allstatu, valueProperty : 'id', labelProperty : 'libelle_status' , required : false, value : object?.status?.id ? object?.status?.id : 0, label : 'Libelle du status' /}
			 #{/field}
         </div>
          <div class="col-lg-6">
           <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
                <div class="col-sm-10">
                   <div class="form-group">
                     <label for="pwd">Statué le</label>
                      <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="sDate" value="${object?.date_status?.format("dd/MM/yyyy")}">
                  </div>
                </div>
             </div>
         </div>

    </div>
    </div>
    <br>
    
    <div class="row">
         <div class="col-lg-12">
          #{field 'object.motif'}
			                #{form.textarea field : field, value : object?.motif, required : true,  label : 'Motif'/}
			            #{/field}
                   
         </div>
    </div>
   </fieldset>
          <br/>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Appliquer
               </button>
               </div>
             </div>
           </div>
         </div>
    
	#{/form}
</div>
		
</div>
</div>
<!-- end: FORM WIZARD PANEL -->
</div>

				
			<!-- end: MAIN CONTAINER -->
			<!-- start: FOOTER -->
			
			<!-- end: FOOTER -->
			<!-- start: SUBVIEW SAMPLE CONTENTS -->
			<!-- *** NEW NOTE *** -->
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
	
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	<script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
		<script src="@{'public/wizard/js/subview.js'}"></script>
		<script src="@{'public/wizard/js/subview-examples.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>



		<!-- end: CORE JAVASCRIPTS  -->
			   <script src="@{'public/dist/js/app.min.js'}"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
		<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>
#{set 'moreScripts'}
		<script >
$( ".debut" ).datepicker({
	   changeMonth: true,
	   changeYear: true,
	   dateFormat: 'dd-mm-yy'
	});
</script>
#{/set}
	</body>

