#{extends '/Conges/menuConge.html' /}
#{set title: 'Conges' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;} 

</style>
<!-- <link href="@{'public/css/retourConges.css'}" rel="stylesheet" type="text/css"> -->
    <h2 style="text-align: center;">Details du cong&eacute; demand&eacute;</h2>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-8">
          <div class="form-group">
              <label class="control-label col-sm-4" for="conge">type de cong&eacute; demand&eacute;:</label><br>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="conge">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-4" for="nom">Direction:</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="direction">
               </div>
         </div>
         </div>

    </div>
    </div>
    <fieldset>
 <legend>Periode</legend>
  <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-2" for="du">Du:</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="du">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="au">Au:</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="au">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="duree">Dur&eacute;e</label>
               <div class="col-sm-8">
                  <input type="email" class="form-control" id="duree">
               </div>
                <label class="control-label col-sm-2" for="duree">Mois</label>
         </div>
         </div>
    </div>
    </div>
 </fieldset>
 <fieldset>
 <legend>information sur l'agent</legend>
    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">S.Direction:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Poste:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Statut</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
       <div class="col-lg-12">
           <div class="form-group">
             <textarea class="form-control" rows="3" id="motif" placeholder="Motif"></textarea>         
           </div>
       </div>
    </div>
    </fieldset>
    <div class="row">
 <fieldset>
 <legend>Liste des pieces justificatives</legend>
 <script type="text/javascript">
var tableToExcel = (function() {
 var uri = 'data:application/vnd.ms-excel;base64,'
   , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
   , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
   , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
 return function(table, name) {
   if (!table.nodeType) table = document.getElementById(table)
   var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
   window.location.href = uri + base64(format(template, ctx))
 }
})()
</script>
     <div class="row">
       <div class="col-lg-12">
       <div class="col-lg-10"></div>
           <div class="form-group">
             <input type="button" onclick="tableToExcel('testTable', 'Liste des personnes')" value="Exporter en Excel" class="btn btn-info" ><br>        
           </div>
       </div>
    </div>

<table class="table table-hover table-striped table-condensed" id="testTable">
    <thead>
        <tr>
            <th> #{list.sortField sF : sF, sD : sD, field : 'id'} <a href="@{list(k, 'id', (sF == 'id' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.id'}</a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'numero_piece'} <a href="@{list(k, 'numero_piece', (sF == 'numero_piece' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Numero </a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'date_delivrance'} <a href="@{list(k, 'date_delivrance', (sF == 'date_delivrance' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Delivr&eacute; le</a> #{/list.sortField} </th>
            <th> #{list.sortField sF : sF, sD : sD, field : 'auteur'} <a href="@{list(k, 'auteur', (sF == 'auteur' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Delivr&eacute; par</a> #{/list.sortField} </th>
             <th> #{list.sortField sF : sF, sD : sD, field : 'lieu_delivrance'} <a href="@{list(k, 'lieu_delivrance', (sF == 'lieu_delivrance' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Lieu de delivrance</a> #{/list.sortField} </th>
              <th> #{list.sortField sF : sF, sD : sD, field : 'poste_auteur'} <a href="@{list(k, 'poste_auteur', (sF == 'poste_auteur' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Poste</a> #{/list.sortField} </th>
              <th> #{list.sortField sF : sF, sD : sD, field : 'date_fin_validite'} <a href="@{list(k, 'date_fin_validite', (sF == 'date_fin_validite' && sD == 'asc' ? 'desc' : 'asc'), 1)}">Date de fin de validit&eacute;</a> #{/list.sortField} </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        #{list result?.objects}
        <tr>
            <td> ${_.id} </td>
            <td> ${_.nom_agent} </td>
            <td> ${_.prenom_agent} </td>
            <td> #{block.time time : _.date_debut /} </td>
            <td> #{block.time time : _.date_fin /} </td>
            <td> ${_.libelle_conge} </td>
             <td> ${_.motif} </td>
            <td class ="center"> #{manager.object.viewButton id : _.id /} </td>
        </tr>
        #{/list}
    </tbody>
</table>
 </fieldset>
 </div><br><br>
 
      <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-3">
         <div class="form-group">
          <div class="col-sm-2">
                  #{form.refuserButton /}
               </div>
          <label class="control-label col-sm-10" for="prenom"></label>
              
            
             </div>
         </div>
         <div class="col-lg-6">

              </div>
         <div class="col-lg-3">
        <div class="form-group">
       
          <label class="control-label col-sm-8" for="prenom"></label>
               
             <div class="col-sm-4">
                  #{form.accepterButton /}
               </div>
             </div>
         </div>
         </div>
         
    </div>
 