#{extends 'admin.html' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
  <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Promotion/Mutation d'un agent</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
          </div>
          #{form @affecter(), role :'form', id :"form"}
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
					
					#{if object}
		        <input type="hidden" name="object.id" value="${object?.id}" />
		        <input type="hidden" name="agent.id" value="${agent?.id}" />
				 #{/if}
				 <div id="wizard" class="swMain">
									<ul>
										<li>
											<a href="#step-1">
												<div class="stepNumber">
													1
												</div>
												<span class="stepDesc"> Informations sur l'argent
													<br />
													<!-- <small>Step 1 description</small> </span> -->
											</a>
										</li>
										<li>
											<a href="#step-2">
												<div class="stepNumber">
													2
												</div>
												<span class="stepDesc"> Informations affectations
													<br />
													<!-- <small>Step 2 description</small> </span> -->
											</a>
										</li>
									</ul>
									<div class="progress progress-xs transparent-black no-radius active">
										<div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar partition-green step-bar">
											<span class="sr-only"> 0% Complete (success)</span>
										</div>
									</div>

            							<div id="step-1">
										
										  <div class="row">
										    <div class="col-lg-12">
										         <div class="col-lg-4">
										          <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Matricule</label>
										                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}" name="matricule_agent" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Nom</label>
										                  <input type="text" class="form-control" id="nom" value="${agent?.nom}" name="nom_agent" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Prénom</label>
										                  <input type="text" class="form-control" id="prenom" value="${agent?.prenom}" name="prenom_agent" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										    </div>
										    </div><br>
										    <div class="row">
										    <div class="col-lg-12">
										         <div class="col-lg-4">
										          <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Classe</label>
										                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_classe}" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Grade</label>
										                 <input type="text" class="form-control" id="grade" value="${agent?.libelle_grade}" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">
										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Echelon</label>
										                  <input type="text" class="form-control" id="echelon" value="${agent?.libelle_echelon}" disabled>
										               </div>
										               </div>
										         </div>
										         </div>
										    </div>
										    </div><br>
										       <div class="row">
										    <div class="col-lg-12">
										         <div class="col-lg-4">
                                <div class="form-group">

										              <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Situation matrimoniale</label>
											              <input type="text" class="form-control" id="sit_matri" value="${agent?.sit_matr}" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">

										         <label class="control-label col-sm-2"></label>
										               <div class="col-sm-10">
										               <div class="form-group">
										               <label for="sexe">Sexe</label>
										                  <input type="text" class="form-control" id="sexe" value="${agent?.sexe}" disabled>
										               </div>
										               </div>

										         </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">
											            <label class="control-label col-sm-2" for="nom"></label>
											             <div class="col-sm-10">
											                <div class="form-group">
											                 <label for="pwd">Nombre d'enfant</label>
											                 <input type="text" class="form-control" name="nbre_enf" value="${agent?.nombreEnf}" disabled>
											                </div>
									                 </div>
									             </div>
										         </div>
										    </div>
										    </div>
										    <br>
										    <div class="row">
										    <div class="col-lg-12">
										         <div class="col-lg-4">
										          <div class="form-group">
									            <label class="control-label col-sm-2" for="nom"></label>
									             <div class="col-sm-10">
									             <div class="form-group">
									             <label for="pwd">Poste anterieur</label>
									                 <input type="text" class="form-control" name="poste_ant" value="${agent?.libelle_poste}" disabled>
									             </div>
									        
									              </div>
									             </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">
									            <label class="control-label col-sm-2" for="nom"></label>
									             <div class="col-sm-10">
									             <div class="form-group">
									             <label for="pwd">Csu anterieur</label>
									                 <input type="text" class="form-control" name="csu_ant" value="${agent?.libelle_csu_courant}" disabled>
									             </div>
									        
									              </div>
									             </div>
										         </div>
										         <div class="col-lg-4">
										         <div class="form-group">
									            <label class="control-label col-sm-2" for="nom"></label>
									             <div class="col-sm-10">
									             <div class="form-group">
									            <label for="pwd">Sous direction anterieur</label>
									                 <input type="text" class="form-control" name="sous_dir_ant" value="${agent?.libelle_sous_dir_courant}"disabled >
									             </div>
									        
									              </div>
									             </div>
										         </div>
										    </div>
										    </div>
										<div class="form-group">
											<div class="col-sm-2 col-sm-offset-8">
												<button class="btn btn-blue next-step btn-block">
													Suivant <i class="fa fa-arrow-circle-right"></i>
												</button>
											</div>
										</div>
									</div>
							
									<div id="step-2">

									<div class="row">
										    <div class="col-lg-12">
										    <div class="col-lg-6">
												  <div class="form-group">
				                    <label class="control-label col-sm-2" ></label>
				                  <div class="col-sm-10">
				                    <div class="form-group">
				                      <label for="numero">Numero de note de service externe</label>
                             <input type="text" class="form-control" name="note_svce_ex" value="${agent?.num_note_svce}" disabled>
                            </div>
                          </div>
                         </div>
									     </div>
									     <div class="col-lg-6">
												  <div class="form-group">
				                    <label class="control-label col-sm-2" ></label>
				                  <div class="col-sm-10">
				                    <div class="form-group">
				                      <label for="numero">Numero de note de service interne</label>
                             <input type="text" class="form-control" name="note_svce" value="${object?.note_svce}">
                            </div>
                          </div>
                         </div>
									     </div>
									</div>
									</div>
										<div class="row">
										    <div class="col-lg-12">
										        <div class="col-lg-6">
										          <div class="form-group">
									              <label class="control-label col-sm-2" ></label>
									               <div class="col-sm-10">
									                  #{field 'csuId'}
									                     #{form.select field : field, items : allCsus, valueProperty : 'id', labelProperty : 'libelle_csu' , required : false, value : aposte?.csu?.id ? aposte?.csu?.id : 0, label : 'Csu' /}
									                  #{/field}
									               </div>
                              </div>
									         </div> 

									         <div class="col-lg-6">
										          <div class="form-group">
								               <label class="control-label col-sm-2" ></label>
								               <div class="col-sm-10">
								                  #{field 'sousDirId'}
								                   #{form.select field : field, items : allSousDirections, valueProperty : 'id', labelProperty : 'libelle_sous_direction' , required : false, value : aposte?.sous_dir?.id ? aposte?.sous_dir?.id : 0, label : 'Sous direction' /}
								                  #{/field}
								               </div>
                            </div>
									         </div> 
									        </div>
									      </div>
									         <div class="row">
										    <div class="col-lg-12">
										        <div class="col-lg-6">
										          <div class="form-group">
									              <label class="control-label col-sm-2" ></label>
									               <div class="col-sm-10">
									               	#{field 'posteId'}
														        #{form.select field : field, items : allPostes, valueProperty : 'id', labelProperty : 'libelle_poste' , required : false, value : aposte?.poste?.id ? aposte?.poste?.id : 0, label : 'Nouveau poste' /}
														      #{/field}
									               </div> 
									            </div>
									          </div>
									          <div class="col-lg-6">
															 <div class="form-group">
									               <label class="control-label col-sm-2" for="nom"></label>
									                <div class="col-sm-10">
									                   <div class="form-group">
									                     <label for="pwd">Date de prise de service:</label>
									                      <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="dPriseSvce" value="${object?.Date_prise_svce?.format("dd/MM/yyyy")}">
									                  </div>
									                </div>
									             </div>
									         </div>
												</div>
												</div>
									    <div class="row">
									    <div class="col-lg-12">
													<div class="form-group">
													        <label class="control-label col-sm-2" for="prenom"></label>
														   <label class="control-label col-sm-2" for="prenom">Type d'affectaion </label>
													       <br/>
													          <div class="col-sm-4">
													          <label class="radio-inline">
													   <input type="radio" class="grey" value="Promotion" name="type_affectation" #{if affectation=='Promotion'}checked="checked"#{/if} >
													                  Promotion
													            </label>
													          </div>
													         <div class="col-sm-4">
													            <label class="radio-inline">
													             <input type="radio" class="grey" value="Mutation" name="type_affectation" #{if affectation=='Mutation'}checked="checked"#{/if} >
													                 Mutation
													            </label >
													          </div>
														</div>
											</div>
									    </div>
										<div class="form-group">
												<div class="col-sm-2 col-sm-offset-3">
													<button class="btn btn-light-grey back-step btn-block">
														<i class="fa fa-circle-arrow-left"></i> Retour
													</button>
												</div>
												<div class="col-sm-2 col-sm-offset-3">
												<button class="btn btn-blue" type="submit">
								          Enregistrer
								        </button>
												</div>
										  </div>										
									</div>
								</div>
  
 			</div>
			</div>
			</div>
			</div>
							
	#{/form}
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	
	<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
	
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	<script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
		<script src="@{'public/wizard/js/subview.js'}"></script>
		<script src="@{'public/wizard/js/subview-examples.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>



		<!-- end: CORE JAVASCRIPTS  -->
			   <script src="@{'public/dist/js/app.min.js'}"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}
<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>

#{/set}
	</body>

