#{extends 'admin.html' /}
#{set title: 'Mutation/Promotion' /}
#{set 'subTitle'}
    ${object.nom_agent}
#{/set} 
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-condensed table-striped">
            <tbody>
                <tr>
                    <td>
                        &{'object.id'}
                    </td>
                    <td>
                        ${object.id}
                    </td>
                </tr>

                <tr>
                    <td>
                        Poste
                    </td>
                    <td>
                        ${object.libelle_poste}
                    </td>
                </tr>
               
                
                 <tr>
                    <td>
                        &{'object.created'}
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        &{'object.updated'}
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
                <tr>
                    <td>
                        &{'object.dependent_objects'}
                    </td>
                    <td>
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="clearfix">
    <div class="pull-right">
        #{manager.object.editButton id : object.id /}
  
     
    </div>
</div>
        <!-- <div class="clearfix">
            <div class="pull-right">
                #{manager.object.editButton id : object.id /}
            </div>
        </div> -->
    </div>
</div>