#{if type}
   #{extends 'Client.html' /}
#{set title:'Pieces' /}
#{set 'subTitle'}
    
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}

#{/if}

#{else}
#{extends 'adminhtml' /}
#{set title: 'Pièce' /}
#{set 'subTitle'}
    ${object.libelle_piece}
#{/set} 


#{/else}
<div >
<img src="@{agentPiece(object.id)}" class="dimfoto">
</div>
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la piecce</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouvelle piece</a>
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Numéro :  ${object?.numero_piece}
            </div>
              <div class="box-body">
               Libelle :  ${object?.libelle_piece}
            </div>
              <div class="box-body">
               Date de delivrance :  ${object?.date_piece?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : &{object.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
              #{manager.object.editButton id : object.id /}
       	
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>