#{extends 'admin.html' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		  <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Création de mission</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
  
  </div>
  </div>
    <!-- en cas d'erreur --> 
                    <div class="row" >
                         #{if flash.error}
                      <div class="alert alert-danger" role="alert" id="erreur">
                         <p style="text-align:center">  ${flash.error}</p> 
                      </div>
                       #{/if}
                    </div>        
               <!-- fin -->

	<div class="row">
		<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
			#{form @update(), class : 'form', role : 'form',id :"form"}
			    #{if object}
			        <input type="hidden" name="object.id" value="${object?.id}" />
			  #{/if}
			  
			  <input type="hidden" class="form-control" value="${agent?.id}" name="agent">				
    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Titre </label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" name="object.libelle_mission" value="${object?.libelle_mission}">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Lieu</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" name="object.lieu_mission"  value="${object?.lieu_mission}">
               </div>
         </div>
         </div>
      
     </div>
    </div>
    <br/>
	<div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Du </label>
               <div class="col-sm-9">
                <div class="input-group">
             
						<input type="text" class="form-control datepickers" value="${object?.date_de_depart?.format("dd/MM/yyyy")}" name="date_de_depart" id="debut">
						<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
				</div>
               </div>
		         </div>
		         </div>
		        <div class="col-lg-6">
		          <div class="form-group">
		              <label class="control-label col-sm-2" >Au</label>
		               <div class="col-sm-10">
		                <div class="input-group">	
		                <input  type="text" class="form-control datepickers" value="${object?.date_de_retour?.format("dd/MM/yyyy")}" name="date_de_retour" />				                
							<span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
							</div>
		               </div>
		         </div>
		         </div>
					      
					     </div>
				  	  </div>	
				  	  <br/>
				  	 <div class="row">
				    <div class="col-lg-12">
				         <div class="col-lg-6">
				          <div class="form-group">
				              <label class="control-label col-sm-3" for="matricule">Frais </label>
				               <div class="col-sm-9">
				                  <input value="${object?.frais}" type="text" class="form-control" name="object.frais" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
				               </div>
				         </div>
				         </div>
				         <div class="col-lg-6">
				         <div class="form-group">
				              <label class="control-label col-sm-2" for="nom">Imputation</label>
				               <div class="col-sm-10">
				                  <input type="text" class="form-control" name="object.imputation" value="${object?.imputation}">
				               </div>
				         </div>
				         </div>
				      
				     </div>
				    </div>
						 <div class="row">
						    <div class="col-lg-12">
								#{field 'object.objet_mission'}
								     #{form.textarea field : field, value : object?.objet_mission,label : 'Description'/}
								#{/field}
						    </div>
					    </div>	
							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-3">
									
								</div>
								<div class="col-sm-2 col-sm-offset-3">
									<button class="btn btn-blue" type="submit">
										Terminer
									</button>
								</div>
							</div>										
						#{/form}			
				</div>
			
		</div>
	</div>
	<!-- end: FORM WIZARD PANEL -->
</div>
						
				
			<!-- end: MAIN CONTAINER -->
			<!-- start: FOOTER -->
			
			<!-- end: FOOTER -->
			<!-- start: SUBVIEW SAMPLE CONTENTS -->
			<!-- *** NEW NOTE *** -->
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	    <script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
	    
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}
<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>
	 <script >
  setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 10000);
</script>

<script>
jQuery(document).ready(function() {
  $('#agent').removeClass('active');
  $('#mission').addClass('active');
  $('#conge').removeClass('active');
  $('#continue').removeClass('active');
  $('#param').removeClass('active');
  $('#connect').removeClass('active'); 
});
</script>

<script>
jQuery(document).ready(function() {
  $('#registermission').addClass('active');
});
</script>
#{/set}
	</body>

