
#{extends 'admin.html' /}
#{set title: 'Mise a jour de mission' /}

        <section class="content-header">
          <h1>
          #{if object}
			    Modification de :<small>${object?.libelle_mission}</small>
			#{/if}
			#{else}
			    Ins&eacute;rer
			   
			#{/else}
	      </h1>
         
	    #{manager.menu.actions/}
	   
        </section>

        <!-- Main content -->
        <section class="content">
        #{form @miseJour(), class : 'form', role : 'form'}
		    #{if object}
		        <input type="hidden" name="object.id" value="${object?.id}" />
		    #{/if}
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Informations sur la mission </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
              
                  <div class="box-body">

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Numero:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object.id}" disabled ="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Titre:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.libelle_mission}" disabled ="true">
               </div>
         </div>
         </div>
         
    </div>
    </div><br>
     <div class="row">
    	<div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Du:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object.date_de_depart}" disabled ="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" >Au:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.date_de_retour}" disabled ="true">
               </div>
         </div>
         </div>   
              
        
    </div>
    </div><br>
         <div class="row">
    	<div class="col-lg-12">
         <div class="col-lg-6">
          <div class="form-group">
              <label class="control-label col-sm-3" >Frais</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" value=" ${object.frais}" disabled ="true">
               </div>
         </div>
         </div>
         <div class="col-lg-6">
         <div class="form-group">
              <label class="control-label col-sm-2" >Impuation</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" value=" ${object.imputation}" disabled ="true">
               </div>
         </div>
         </div>   
              
        
    </div>
    </div
    ><br/>
     <div class="row">
	    <div class="col-lg-12">
			#{field 'object.objet_mission'}
			     #{form.textarea field : field, value : object?.objet_mission,label : 'Description',disabled:true/}
			#{/field}
	    </div>
    </div>
         <div class="row">
           <div class="box-header with-border">
                  <h3 class="box-title">Informations sur la responsable </h3>
                </div><!-- /.box-header -->
	    	<div class="col-lg-12">
	         <div class="col-lg-6">
	          <div class="form-group">
	              <label class="control-label col-sm-3" >Nom</label>
	               <div class="col-sm-9">
	                  <input type="text" class="form-control" value=" ${agent?.nom}" disabled ="true">
	               </div>
	         </div>
	         </div>
	        
	         <div class="col-lg-6">
	         <div class="form-group">
	              <label class="control-label col-sm-2" >Prenoms</label>
	               <div class="col-sm-10">
	                  <input type="text" class="form-control" value=" ${agent?.prenom}" disabled ="true">
	               </div>
	         </div>
	         </div>   
	     </div>
	  </div>
	  <br/>
	  <div class="row">
	       <div class="col-lg-12">
	         <div class="col-lg-6">
	          <div class="form-group">
	              <label class="control-label col-sm-3" >Classe</label>
	               <div class="col-sm-9">
	                  <input type="text" class="form-control" value=" ${object?.date_de_depart?.format("dd/MM/yyyy")}" disabled ="true">
	               </div>
	         </div>
	         </div>
	         <div class="col-lg-6">
	         <div class="form-group">
	              <label class="control-label col-sm-2" >Poste</label>
	               <div class="col-sm-10">
	                  <input type="text" class="form-control" value=" ${object?.date_de_retour?.format("dd/MM/yyyy")}" disabled ="true">
	               </div>
	         </div>
	         </div>   
	     </div>
	  </div>
  <br/>
   <div class="row">
           <div class="box-header with-border">
                  <h3 class="box-title">Informations a mettre a jour </h3>
                </div><!-- /.box-header -->
	    	<div class="col-lg-12">
	    	 <label class="control-label col-sm-2" >Cloturer la mission </label>
	         <div class="col-lg-5">
		          <div class="form-group">
		         <div class="col-sm-4">
		        
	            <label class="radio-inline">
	            <input type="radio" class="grey" value="Oui" name="status" #{if status=='Oui'}checked="checked"#{/if}>
	                  Oui
	            </label>
	          </div>
	            <div class="col-sm-4">
		        
	            <label class="radio-inline">
	            <input type="radio" class="grey" value="Non" name="status" #{if status=='Non'}#{/if} checked = true>
	                  Non
	            </label>
	          </div>
	         
		         </div>
	         </div>
	        
	         <div class="col-lg-5">
		         <div class="form-group">
		              <label class="control-label col-sm-2" >Rapport </label>
		               <div class="col-sm-10">
		                  <input type="file" class="form-control">
		               </div>
		         </div>
	         </div>   
	     </div>
	  </div>
<div class="row">
				      
                   			 <button type="submit" class="btn btn-primary">Enregistrer</button>
                 	
                 	 </div>
                 </div> 
               #{/form}
              </div><!-- /.box -->
			 </div>
          </div>   <!-- /.row -->
        </section>
        <!-- /.content -->

#{if object?.id}
<!-- <div class="clearfix">
    <div class="pull-right">
        #{manager.object.deleteButton id : object.id /}
    </div>
</div> -->
#{/if}

<script>
jQuery(document).ready(function() {
  $('#agent').removeClass('active');
  $('#mission').addClass('active');
  $('#conge').removeClass('active');
  $('#continue').removeClass('active');
  $('#param').removeClass('active');
  $('#connect').removeClass('active'); 
});
</script>

