#{if _status_conge == '2'}
    <td style="color:green">APPROUVEE</td>
#{/if}
#{if _status_conge == '1'}
    <td style="color:orange">EN ATTENTE</td>
#{/if}
#{if _status_conge == '0'}
    <td >REJETEE</td>
#{/if}
