 #{extends 'index.html' /}
 <div class="wrapper">
 <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="@{'public/dist/img/user2-160x160.jpg'}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>${agent?.nom} ${agent?.prenom}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Connecté</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
          
            <li class="header">  <a href="@{Application.content()}">  <i class="fa fa-home"></i>Accueil</a></li>
            <li class=" treeview active" id="agent">
              <a href="#">
          <i class="fa fa-male"></i><span>Gestion des agents</span><i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="registeragent">
				<a href="@{Agents.enregistrement()}">
					<i class="fa fa-circle-o"></i><span class="title"> Enregistrement d'un agent  </span>
				</a>
			</li>
				<li id="searchstat">
					<a href="@{_Agent_status.recherche_agent_status()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Départ Agent </span>
					 </a>
				</li>
				<li id="searchdeco">
					<a href="@{_Agent_decorations.recherche_agent_deco()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Décoration Agent </span> </a>
				</li>
				<li id="searchpromo">
					<a href="@{_Agent_postes.recherche()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Promotion/Mutation Agent </span></a>
				</li>
				<li id="sanction">
					<a href="@{_Agent_sanctions.recherche_agent_sanction()}"><i class="fa fa-circle-o"></i> <span class="title"> Sanction Agent </span></a>
				</li>							
           </ul>
            </li>
            <li class="treeview" id="mission">
              <a href="#">
                <i class="fa fa-automobile"></i>
                <span>Gestion des missions</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li id="registermission">
					<a href="@{Missions.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Missions </span><i class="icon-arrow"></i> </a>
				</li>
				<li id="regres">
					<a href="@{Ressources.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Ressources </span><i class="icon-arrow"></i> </a>
				</li>
				<li id="listmission">
					<a href="@{_Agent_missions.listmission()}"><i class="fa fa-circle-o"></i> <span class="title"> Planification des missions </span><i class="icon-arrow"></i> </a>
				</li>
				<li id="listretour">
					<a href="@{_Agent_missions.liste()}"><i class="fa fa-circle-o"></i> <span class="title"> Retour de mission </span><i class="icon-arrow"></i> </a>
				</li>	
              </ul>
            </li>
           
            <li class="treeview" id="conge">
              <a href="#">
                <i class="fa fa-calendar fa-1x"></i>
                <span>Gestions des congés</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             	<li id="plannif">
					<a href="@{_Agent_conges.planningConges()}"><i class="fa fa-circle-o"></i> <span class="title"> Planification des congés </span><i class="icon-arrow"></i> </a>
				</li>	
              </ul>
            </li>
             <li class="treeview" id="continue">
              <a href="#">
                <i class="fa fa-pencil fa-1x"></i>
                <span>Formations continues</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li id="teach">
         <a href="@{Formateurs.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Nouveau formateur </span><i class="icon-arrow"></i> </a>
        </li> 
         <li id="know">
          <a href="@{Formateurs.list()}"><i class="fa fa-circle-o"></i> <span class="title"> Nouvelle formation </span><i class="icon-arrow"></i> </a>
        </li> 
         <li id="sched">
          <a href="@{_Agent_formations.list()}"><i class="fa fa-circle-o"></i> <span class="title"> Planning des formations </span><i class="icon-arrow"></i> </a>
        </li> 
         </ul>
            </li>

          <li class="treeview" id="continue">
              <a href="#">
                <i class="fa fa-pencil fa-1x"></i>
                <span>Statisques</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
    <ul class="treeview-menu"> 
        <li id="teach">
         <a href="@{Application.charts()}"><i class="fa fa-circle-o"></i> <span class="title"> Par CSU</span><i class="icon-arrow"></i> </a>
        </li>
       <li id="teach">
         <a href="@{Application.chartSexe()}"><i class="fa fa-circle-o"></i> <span class="title"> par Sexe</span><i class="icon-arrow"></i> </a>
        </li>
         <li id="teach">
         <a href="@{Application.congesStats()}"><i class="fa fa-circle-o"></i> <span class="title"> Congés</span><i class="icon-arrow"></i> </a>
        </li>
         </ul>
    </li>

            <li class="treeview" id="continue">
              <a href="#">
                <i class="fa fa-pencil fa-1x"></i>
                <span>Certificats / Attestations</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li id="teach">
         <a href="@{Agents.liste()}"><i class="fa fa-circle-o"></i> <span class="title"> Attestation de fin de stage</span><i class="icon-arrow"></i> </a>
        </li> 
         <li id="know">
          <a href="@{Application.congesValides()}"><i class="fa fa-circle-o"></i> <span class="title">Certificat de cessation de service</span><i class="icon-arrow"></i> </a>
        </li> 
         <li id="know">
          <a href="@{Application.congesValides()}"><i class="fa fa-circle-o"></i> <span class="title">Certificat de reprise de service</span><i class="icon-arrow"></i> </a>
        </li> 
        <li id="know">
          <a href="@{Agents.liste()}"><i class="fa fa-circle-o"></i> <span class="title"> Attestation de présence </span><i class="icon-arrow"></i> </a>
        </li>
        
         <li id="sched">
          <a href="@{Agents.liste()}"><i class="fa fa-circle-o"></i> <span class="title">Attestation de stage </span><i class="icon-arrow"></i> </a>
        </li> 
         </ul>
            </li>

              <li class="treeview" id="param">
              <a href="@{Application.param()}">
                <i class="fa fa-cogs"></i>
                <span>Gestion des paramètres</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
             
            </li>
           
       <li class="treeview" id="connect">
              <a href="@{Comptes.recherche_agent_cpte()}">
                <i class="fa fa-files-o"></i>
                <span>Gestion des comptes</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
             
            </li>
      
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
 	

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
           #{doLayout /}
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Ebenyx Technologies &copy; 2014-2015 .</strong> Tous droits reservés.
      </footer>

        </div>