#{extends 'admin.html' /}
  <head>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" /> 
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"href="@{'public/bootstrap/css/bootstrap.min.css'}"> 
    <!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE CSS -->
    <link rel="stylesheet" href=" @{'public/assets/css/styles.css'}">
    <link rel="stylesheet" href=" @{'public/assets/css/styles-responsive.css'}">
    <link rel="stylesheet" href=" @{'public/assets/css/plugins.css'}">
    <link rel="stylesheet" href=" @{'public/assets/css/themes/theme-default.css'}" type="text/css" id="skin_color">
    <link rel="stylesheet" href=" @{'public/assets/css/print.css'}" type="text/css" media="print"/>
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
 <body>
        
                  <div class="row">
                    <div class="col-md-12">
                      <!-- start: DISCRETE BAR CHART -->
                              <div class="panel panel-white">
                                <div class="panel-heading">
                                      <h4 class="panel-title">Repartition par <span class="text- bold">Sexe</span></h4>
                                    
                                </div>
                                <div class="panel-body">
                                  <div id="demo-chart" class="height-300">
                                  
                                  </div>
                                </div>
                              </div>
                      <!-- end: DISCRETE BAR CHART -->
                    </div>
                  </div>

  
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src=" @{'public/assets/plugins/respond.min.js'}"></script>
    <script src=" @{'public/assets/plugins/excanvas.min.js'}"></script>
    <script type="text/javascript" src=" @{'public/assets/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src=" @{'public/assets/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
    <!--<![endif]-->


       <!-- Flot Charts JavaScript -->
    <script src="/public/assets/js/plugins/flot/excanvas.min.js"></script>
    <script src="/public/assets/js/plugins/flot/jquery.flot.js"></script>
    <script src="/public/assets/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/public/assets/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/public/assets/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <!-- fin Flot Charts JavaScript -->
    <script>


           $(function() {
      var data = [];
        $.getJSON("@{Application.agentSexe()}", function(result) {
         data = result;
         console.log(data);
    var plotObj = $.plot($("#demo-chart"), data, { 
        series: {
            pie: {
                show: true
            }
        },
        grid: {
            hoverable: true
        },
        tooltip: true,
        tooltipOpts: {
            content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
            shifts: {
                x: 20,
                y: 0
            },
            defaultTheme: false
        }
    });
   
            
        });
   
});
        </script>

  <!-- fin Flot Charts JavaScript -->
  </body>
  <!-- end: BODY -->
