 #{extends 'admin.html' /}
      <!-- Control Sidebar -->
 <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row"  style="top : 10px">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>Postes</h3>
                <p>  <h4>${alldpost}   Affecté(s)</h4> </p>
                  <p><h4>${alldpostMut}  Mutation(s)</h4> </p>
                 <p> <h4>${alldpostPro}  Promotion(s)</h4> </P>
                
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                                 <h3>Congés</h3>
                <p>  <h4>${alldemde}   demande(s)</h4> </p>
                  <p><h4>${alldemdeAccd}  acceptée(s)</h4> </p>
                 <p> <h4>${alldemdeRep}  reportée(s)</h4> </P>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                <h3>Agents</h3>
                <p>  <h4>${agents}   Agent(s)</h4> </p>
                  <p><h4>${agentsF}  Femme(s)</h4> </p>
                 <p> <h4>${agentsM}  Homme(s)</h4> </P>
                  
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>Formation</h3>
                <p>  <h4>${allform}   demande(s)</h4> </p>
                  <p><h4>${allformvacp}  Validée(s)</h4> </p>
                 <p> <h4>${allformvali}  autre(s)</h4> </P>
                                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <!-- Main row -->
 

        </section><!-- /.content -->